# ===== C++ objects and libs =====
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# ===== Compiled binaries =====
*.obj
*.exe
*.out
*.app

# ===== Build directories =====
build/
build-*/
debug/
release/

# ===== Qt/C++ Build Artifacts =====
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp

# ===== Qt generated =====
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.moc
*.rcc
*.cache
*_qmlcache.qrc

# ===== Qt project / config =====
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.qm
*.prl

# ===== Qt Creator =====
*.autosave
*.user
*creator.user*
.qtcreator/
.clangd/

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Testing/
CMakeLists.txt.user*
compile_commands.json

# ===== IDEs =====
.vscode/
.idea/

# ===== Windows junk =====
Thumbs.db
*.pdb
*.ilk
*.exp

# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ===== Logs / temp =====
*.log
*.tmp
*.temp
